body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   background: #d3d3d3;
}

h1 {
    margin-top: 20px;
    text-align: center;
    background-color: #d3d3d3;
    padding: 10px;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
}

.ingredientes, .resultado {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ingredientes {
    background-color: #f3f3f3;
}

.ingredientes h2 {
    margin-bottom: 10px;
}

.ingredientes input[type="checkbox"] {
    margin-right: 10px;
}

.ingredientes button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f3f191;
    color: rgb(7, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-color:rgb(14, 11, 11) ;
}

.ingredientes button:hover {
    background-color: #cad61b;
    color: rgb(247, 243, 243);
    border-color:rgb(14, 11, 11) ;
}

.resultado {
    background-color: #a8a74f;
    color: white;
    text-align: center;
}

.resultado img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    margin: 5px 0;
    text-align: left;
}
.resultado-texto {
    color: red;
}
